

/* MainStyle */

	body{background-color: #111111;}
	h1{color: #41B100; 
		font-family: COURIER;
		font-size:50px;
		background-color:#1C1C1C;
		padding: 12px;}

	h2{color: #41B100; font-family: COURIER;
		font-size: 32px}

	h3{color: #41B100; font-family: COURIER;
		font-size: 24px}

	p{color: #41B100; font-family: COURIER;}

	p2{color: #41B100; font-family: COURIER;}

	img{border-color: #424242;
		background-color: #1C1C1C;
		border-width: 3px;
		border-style: double;
		padding: 25px;
		margin: auto;
		display:block}

	a:hover{color:#7CFA34;}

	a{text-decoration: none;
		color: #41B100;
		font-family: COURIER;
		font-size: 18px;}

	ul{list-style: none;
		color: #41B100;
		background-color: #1C1C1C}

	li{list-style: outside;
		background-color: #1C1C1C;
		padding: 4px}